// General
$menuBackgroundColor: #F3F8F1;

// Palette
$darkbrown: #685C5D;
$teal: #9BD0BF;
$lightRed: #CA5164;
$lightYellow: #ECD897;

// Map Colors
$tileBorderColor: #CBCBCB;
$unrevealedLandFill: #BABABA;
$revealedLandFill: #BBBBBB;
$mapBorderColor: #606060;

// Counter Colors
$oneAdjacent: #3A3A94;
$twoAdjacent: #008100;
$threeAdjacent: #836B0A;
$fourAdjacent: #762F67;
$fiveAdjacent: #BE0909;
$sixAdjacent: #942A2A;
$sevenAdjacent: #B77C43;
